altair==5.3.0
asgiref==3.8.1
astor==0.8.1
attrs==23.2.0
backcall==0.2.0
base58==2.1.1
bleach==6.1.0
blinker==1.8.2
cachetools==5.3.3
certifi==2024.6.2
chardet==5.2.0
click==8.1.7
cmake==3.29.6
colorama==0.4.6
cycler==0.12.1
decorator==5.1.1
defusedxml
Django
dlib
docutils
entrypoints
enum-compat
face-recognition
face-recognition-models
future
google
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
httplib2
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jmespath
json5
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-server
kiwisolver
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
opencv-python
packaging
pandas
pandocfilters
parso
pathtools
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
pyasn1
pyasn1-modules
pycodestyle
pydeck
Pygments
pyparsing
pyrsistent
python-dateutil
# pytz==2019.3 Commenting for production deployment
# pywin32==227
pywinpty
PyYAML
pyzmq
requests
rsa
s3transfer
Send2Trash
six
soupsieve
sqlparse
terminado
testpath
toml
toolz
torch
torchvision
tornado
traitlets
tzlocal
uritemplate
urllib3
validators
watchdog
wcwidth
webencodings
widgetsnbextension
